---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Input from "../components/Input.tsx";
import Button from "../components/Button.tsx";
import Roulette from "../components/Roulette.tsx";
---
<DefaultLayout>
    <main class="my-32 mx-auto max-w-2xl p-4 bg-neutral-100 bg-opacity-50 rounded-xl border border-neutral-300 space-y-2">
        <h2 class="text-2xl font-bold">Create Towa Table</h2>
        <p class="text-neutral-600 text-sm">
            Once you create a Towa Table, you will get a NFT as a proof of ownership.
        </p>
        <p class="text-neutral-600 text-sm">
            Anyone who knows your wallet address can see your data, but only you can decrypt it.
        </p>
        <div class="grid gap-2">
            <label class="">
                <Input placeholder="Table Name" type="text"/>
            </label>
            <label class="">
                <Input placeholder="Key Password" type="password"/>
            </label>
            <label class="">
                <Input placeholder="Confirm Key Password" type="password"/>
            </label>
            <div class="p-3 border border-gray-300 rounded-xl bg-white hover:border-primary transition duration-200 space-y-3">
                <p class="text-sm text-neutral-600">
                    Roulette Password
                </p>
                <Roulette value={-7} label="1"/>
                <Roulette value={12} label="2"/>
                <div class="flex items-center">
                    <Button>
                        Add
                    </Button>
                </div>
            </div>
            <Button>
                Connect Wallet
            </Button>
        </div>
    </main>
</DefaultLayout>