---

import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout>
    <main class="max-w-2xl mx-auto p-4 my-16 bg-neutral-100 bg-opacity-50 rounded-xl border border-neutral-300 space-y-2">
        <h2 class="text-2xl font-bold">Create Towa Table</h2>
        <p class="text-neutral-600 text-sm">
            Once you create a Towa Table, you will get a NFT as a proof of ownership.
        </p>
        <p class="text-neutral-600 text-sm">
            Anyone who knows your wallet address can see your data, but only you can decrypt it.
        </p>
    </main>

</DefaultLayout>