---
import '../global.css'
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<DefaultLayout>
  <main class="my-16 mx-auto max-w-2xl px-4 py-10 bg-neutral-100 bg-opacity-50 rounded-xl border border-neutral-300 space-y-4">
    <div class="w-full flex flex-col items-center">
      <img src="favicon.svg" alt="Towa Logo" class="max-w-64"/>
    </div>
    <h1 class="font-bold text-4xl text-center">
      とわ
    </h1>
    <p class="text-center">Towa (とわ、永久), backup your important sheets like passwords on blockchain.</p>
    <h2 class="text-xl font-bold">
      How to use
    </h2>
  </main>
</DefaultLayout>
