---
import '../global.css'
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<DefaultLayout>
  <h1>Towa (とわ、永久), backup your important sheets like passwords on blockchain.</h1>
</DefaultLayout>
