---

import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout>
    <h1>Query</h1>
    <p>
        Input the wallet address or domain name to query the data.
    </p>
</DefaultLayout>