@tailwind components;

:root {
    --color-primary: 198, 75, 106;
    --color-primary-flat: #F7D9E1;
}

@layer components {
    .text-primary {
        color: rgb(var(--color-primary));
    }

    .bg-primary-flat {
        background-color: var(--color-primary-flat);
    }

    .flat-button {
        @apply w-full h-full text-primary bg-primary-flat py-2 px-4 rounded-xl outline-0 focus:border-opacity-100;
        @apply border border-primary border-opacity-0 hover:border-opacity-100 transition-all duration-300 ease-in-out;
    }

    .border-primary {
        --tw-border-opacity: 1;
        border-color: rgba(var(--color-primary), var(--tw-border-opacity));
    }

    .border-primary-flat {
        border-color: var(--color-primary-flat);
    }
}